
/************************************/
/*      Requested Display :: Font  **
/************************************/
#right{
    float: right;
}

#left{
    float :left;
}

/*********************************/
/*      Requested Page :: About  */
/*********************************/
.img{
    width: 150px;
    display: block;
}
.img img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.img a:hover img {
    border: 1px solid #0000ff;
}
.desc {
    color: blue;
    float: left;
    text-align: center;
    font-weight: normal;
    height: auto;
    margin: 8px;

}

.boxwidget{
    border-bottom: 1px solid #000;
    margin: 0 0 20px 0;
    padding: 0 10px 20px 0;
}

#line-item {
    width: 85%;
    padding: 5px;
    list-style: none;
    vertical-align:baseline;
    text-align: center;
}

