.article{
    color: whitesmoke;
    background-color: black;
    float: left;
    width: 65%
}

.article-title{
    text-align: center;
    background-color: darkgray;
    width: auto;
}

.sideContent{
    float: right;
    color: blue;
    background-color: green;
    width: 30%;

}

/************************************/
/*      Requested Display :: Font  **
/************************************/
#font-title{
    font-size: 2.6em;
    margin: 1em 0 1em 0;
}

/************************************/
/*      Requested Display :: Font  **
/************************************/
#article-img{

}