.article{
    color: whitesmoke;
    background-color: #FFC299;
    float: left;
    width: 65%;
    height: auto;
    padding: 0 10px 0 10px;
}

.article-title{
    text-align: center;
    background-color: darkgray;
    width: auto;
}

.sideContent{
    display: block;
    float: right;
    color: blue;
    background-color: #F6D1FF ;
    width: 30%;
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 150px;
    border-left: 1px solid #000;
    padding: 0 0 100px 20px;
}

.sideContent .boxwidget{
    border-bottom: 1px solid #000;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
}

/************************************/
/*      Requested Display :: Font  **
/************************************/
#headline{
    color: #333;
    margin: 1em 0 1em 0;
    font-family: brandon-grotesque,brandon-grotesque-1,brandon-grotesque-2,HelveticaNeue,Helvetica-Neue,Helvetica,Arial,sans-serif;
    font-size: 32px;
    line-height: 30px;
}

/************************************/
/*      Requested Display :: Font  **
/************************************/
.img{
    white-space: nowrap;

    width: 100px;
    display: block;
}
.img img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.img a:hover img {
    border: 1px solid #0000ff;
}
.desc {
    text-align: center;
    font-weight: normal;
    width: 75px;
    height: auto;
    margin: 5px;
}