/** Setup and continuing **/
html, body {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #000000;

}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    font: normal normal normal 12px/1.3em tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif;
    line-height: 1.3em;
    font-size: 12px;
    color: rgb(84, 86, 88);
}

/************************************/
/*      Requested Display :: Span  **
/************************************/
span {
    color: rgb(84, 86, 88);

}

span .alignLeft {
    text-align: left;
}

span .alignRight {
    text-align: right;
}

span .alignCenter {
    text-align: center;
}

span li {
    text-decoration: none;
}

/*********************************************************************************/
/* Mouse Over                                                                    */
/*********************************************************************************/

a {
    color: #2980B9;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(168, 205, 255);
    text-decoration: none;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s opacity : .5
}

/* selected link */
a:active {
    color: yellow;
}

/*********************************************************************************/
/* Site Structure                                                                */
/*********************************************************************************/
#site_structure {
    padding-bottom: 0px;
    width: 1000px;
    margin: 0 auto;
    display: block;
    min-height: 500px;
}

/*************/
/*    Menu  **
/*************/

.top-menu{
    display: inline-block;
    float: right;
    padding-right: 20%;
    background-color: #;
    display : table-row;
    vertical-align : bottom;

}

.menu-drop {
    padding: 15 0 0 15;
    font-size: 22px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    display: block;
    position: relative;
    float: left;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

ul li a:hover {
}


li:hover li {
    float: none;
}

/***************/
/*    Footer  **
/***************/
.foot-header {
    background-color: rgb(42, 43, 44);
    box-shadow: rgba(0, 0, 0, 0.701961) 0px 0px 5px 0px;
    border-top: 0px solid rgb(42, 43, 44);
    border-bottom: 0px solid rgb(42, 43, 44);
    height: 70px;
    bottom: 0;
}

.foot-header span {
    float: left;
    font: normal normal normal 18px 'open sans', sans-serif;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
}

/************************/
/*     Heading Titles  **
/************************/
.title {
    margin-bottom: 1em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.title h2 {
    font-size: 18px;
    color: white;
    padding: 7px;
    font-weight: 200;
}

.title h3 {
    color: orange;
}

.title .byline {
    font-size: 1.1em;
    color: #6F6F6F;
}

/*********************************************************************************/
/* Container & Header                                                            */
/*********************************************************************************/

.top-header {
    display: block;
    width: 100%;
    background-color: rgb(42, 43, 44);
    box-shadow: rgba(0, 0, 0, 0.701961) 0px 0px 5px 0px;
    border-top: 0px solid rgb(42, 43, 44);
    border-bottom: 0px solid rgb(42, 43, 44);
    min-height: 150px;
    margin-bottom: 10px;

}

.logo-pic {
    float: left;
    padding-top: 10px;
    height: 105px;
    width: 100%;
    display: inline-block;
}

.logo-pic img {
    padding-left: 5%;
    width: auto;
    height: 105px;
    padding-left: 5%;
}

#drop-nav li ul li {
    border-top: 0px;
    font-size: 15px;
}

/*********************************************************************************/
/* Container-Wrapper, Slider, and Content                                        */
/*********************************************************************************/
.container-wrapper {
    margin: 15 0 5 0;
    width: 100%;
    overflow: hidden;

}

.active-slider {
    width: 100%;
    height: 50%

}

/**********************************/
/*      Requested Page :: index  **
/*      1st Row w/ 3 columns     **
/**********************************/

.row-one, .row-two {
    margin: 15px 0 0 0;
    min-width: 305px;
    width: 100%;
    padding: 5px;
}

.row-one {
    height: 300px;
}

.row-two {
    height: 400px;
}

.column, .column-double, .column-large {
    float: left;
    height: 100%;
    overflow: hidden;
}

.column {
    margin: 2px 8px 2px 8px;
    width: 292px;
}

.column-double {
    margin: 2px 8px 2px 8px;
    width: 600px;
}

.column-large {
    width: 36%;
    margin: 2px 0 2px 0;
}

#column-content {
    padding: 0px 7px 0px 7px;
    float: left;
}

#column-content h1, #column-content h2 {
    color: rgb(255, 255, 255);
}

/** h2 1 Contains an email link **/
#column-content h2 a:hover {
    color: cornflowerblue;
    text-decoration: none;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s opacity : .5
}

#column-content h3 {
    color: rgb(197, 195, 195);
}

#column-content p {
    padding-top: 5px;
}

/*********************************/
/*      Requested Page :: Team  **                                                                    */
/*********************************/

.team-main {
    float: left;
    width: 294px;
    height: auto;
    margin: 15px;
    overflow: hidden;
}

.column-team {
    margin-top: 5px;
    float: left;
    width: auto;
    min-height: 228px;
}

.column-team h2 {
    display: inline-block;
    width: auto;
    margin-left: 30%;
    padding: 15 0 10 0;
}

.column-team p {
    display: inline-block;
    width: 272px;
    padding-right: 5px;
}

.column-team img {
    float: left;
    width: 294px;
    height: 340px;
    margin: 0 auto;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 6px 0px;
}

/************************************/
/*      Requested Page :: Contact  **                                                                    */
/************************************/
.contact-title {
    width: 100%;
    color: white;
    display: inline-block;
    padding-bottom: 20px;
}

.contact-title h2, .contact-address h2 {
    padding: 7px;
}

.contact-title h2 {
    font-size: 26px;
    color: rgb(84, 86, 88);
}

.contact-address h2 {
    font-size: 22px;
    color: white;
}

.contact-address {
    float: left;
    width: 450px;
    margin-right: 10px;
    height: 34px;
}

.contact-state {
    float: left;
    margin: 5 0 5 10;
    height: auto;
    width: 450px;
}

.contact-address p {
    font-size: 18px;
}

.contact-tele {
    float: left;
    width: auto;
    height: auto;
    margin: 5 0 5 10;
}

.contact-tele p {
    color: rgb(84, 86, 88);
    font-size: 16px;

}

.contact-map {
    float: left;
    width: 600;
    height: 450;
    margin-bottom: 20px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 6px 0px;
}

.contact-form {
    float: left;
    width: 275px;
    height: 200px;
    margin: 10 0 10 35;
}

.contact-form p {
    color: rgb(84, 86, 88);
}

/*********************************/
/*          Block Colors        **                                                                    */
/*********************************/
#whiteBG {
    background-color: white;
}

#whiteText {
    color: rgb(255, 255, 255);
}

#blue, #grayBG {
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 6px 0px;
}

#blue {
    color: rgb(255, 255, 255);
    background-color: rgb(81, 156, 255);
}

#grayBG {
    background-color: dimgray;
    border: 0px solid rgb(84, 86, 88);
}

.shadow {
    border: 0px solid;
    border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

/*********************************/
/*      Requested Page :: Index **/
/*********************************/
.mainNews {
    width: 575px;
    height: 175px;
}

.mainNews .thumbnail {
    margin-top: 0px;
    margin-left: 0px;
    width: 134px;
    height: 136px;
    float: left;
}

.mainNews .article {
    float: right;
    width: 430px;
    min-height: 123px;
}

.mainNews h4 {
    color: orange;
    width: 100%;
}

#more {
    margin-left: 0px;
    line-height: 29px;
}

/**************************************/
/*      Requested Feature :: JQuery  **/
/**************************************/

#top-wrapper {
    height: 400px;
}

.active-slider {
    margin: 0;
    padding-left: 20px;
    margin-bottom: 20px;

}

/**************************************/
/*      Requested Display :: block  ***/
/**************************************/
#block {
    display: inline-block;
    height: auto;
    width: 100%;
    padding-bottom: 10px;
    float: left;
}

#block10 {
    height: 10px;
    float: left;
    margin-left: 30%;
    min-width: 10%;
}

/************************************/
/*      Requested Page :: Services **/
/************************************/

#entry-title {
    display: block;
    border-bottom: 1px solid #E8E8E8;
    float: right;
    font-family: mont;
    font-size: 40px;
    margin-bottom: 28px;
    padding: 0 0 25px 0;
    width: 60%;
}

.column_one {
    background-color: ;
    width: 40%;
    float: left;
}
.column_one ul li {
    font-size: 14px;
    line-height: 23px;
    list-style: disc outside none;
    width: 70%%;
}

#border li {
    border-bottom: 1px solid #CCCCCC;
}

.column_two {
    background-color:;
    float: right;
    width: 60%;
    padding-top: 20px;
}

.column_two img {
    display: block;
    margin-left: auto;
    margin-right: auto

}

.column_two p {
    margin-bottom: 31px;
    width: 90%;
    font-size: 14px;
    padding: 10px 20px 0px 0px;
    float: right;
}

.column_two ul {
    margin-left: 10%;
    margin-bottom: 31px;
}

.column_two ul li {
    font-size: 14px;
    line-height: 23px;
    list-style: disc outside none;
    width: 90%;
}