
<link href="https://static1.squarespace.com/static/sitecss/52a74d9ae4b0253945d2aee9/453/52a74dafe4b073a80cd253c5/52a74dafe4b073a80cd253e2/893/1412799306822/site.css?&filterFeatures=false" rel="stylesheet" />

<header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom" role="banner">
    <div class="header-inner">
        <div id="logoWrapper" class="wrapper" data-content-field="site-title">

            <h1 id="logoImage"><a href="/"><img
                        src="//static1.squarespace.com/static/52a74d9ae4b0253945d2aee9/t/52e6e1cbe4b0950de23639b7/1414432693888/?format=1500w"
                        alt="Bedford"></a></h1>

        </div>
        <!-- comment the linebreak between these two elements because science
                  --><label for="mobileNavToggle" class="mobile-nav-toggle-label">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </label><label for="mobileNavToggle" class="mobile-nav-toggle-label fixed-nav-toggle-label">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </label><!-- comment the linebreak between these two elements because science
          -->
        <div id="headerNav">
            <div id="mainNavWrapper" class="nav-wrapper" data-content-field="navigation-mainNav">
                <nav id="mainNavigation" data-content-field="navigation-mainNav">


                    <div class="collection active homepage">
                        <a href="/">
                            Home
                        </a>
                    </div>


                    <div class="folder">
                        <input type="checkbox" name="folder-toggle-52a76dc2e4b0dfaa507e7b32"
                               id="folder-toggle-52a76dc2e4b0dfaa507e7b32" class="folder-toggle-box hidden">
                        <label for="folder-toggle-52a76dc2e4b0dfaa507e7b32" class="folder-toggle-label" onclick=""
                               data-href="/about-us/">About</label>

                        <div class="subnav">


                            <div class="collection">
                                <a href="/what-we-do/">
                                    What We Do
                                </a>
                            </div>


                            <div class="collection">
                                <a href="/projects/">
                                    Projects
                                </a>
                            </div>


                            <div class="collection">
                                <a href="/partners/">
                                    Partners
                                </a>
                            </div>


                            <div class="collection">
                                <a href="/contact/">
                                    Contact
                                </a>
                            </div>


                        </div>
                    </div>


                    <div class="collection">
                        <a href="/news/">
                            News
                        </a>
                    </div>


                    <div class="collection">
                        <a href="/read-me/">
                            Read Me
                        </a>
                    </div>


                    <div class="collection">
                        <a href="/take-action/">
                            Take Action
                        </a>
                    </div>


                </nav>
            </div>
            <!-- style below blocks out the mobile nav toggle only when nav is loaded -->
            <style>.mobile-nav-toggle-label {
                    display: inline-block !important;
                }</style>


        </div>
    </div>
</header>
<div id="promotedGalleryWrapper" class="sqs-layout promoted-gallery-wrapper">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="banner-thumbnail-wrapper has-description" data-content-field="main-image">
    <div class="color-overlay"></div>
      <figure id="thumbnail" class="loading content-fill" style="overflow: hidden;">
      <img data-src="http://static1.squarespace.com/static/52a74d9ae4b0253945d2aee9/t/52ed5bf5e4b0f13d0d3693d7/1391287287792/" data-image="http://static1.squarespace.com/static/52a74d9ae4b0253945d2aee9/t/52ed5bf5e4b0f13d0d3693d7/1391287287792/" data-image-dimensions="1280x853" data-image-focal-point="0.5,0.5" alt="Transient" class="" src="https://static1.squarespace.com/static/52a74d9ae4b0253945d2aee9/t/52ed5bf5e4b0f13d0d3693d7/1391287287792/?format=1000w" style="top: -219px; left: 0px; width: 1244px; height: 830px; position: relative;" data-image-resolution="1000w"></figure>

      <div class="desc-wrapper" data-collection-id="52e175e7e4b03c845ac17314">
          <p>Sustainability</p>
          <p id="yui_3_17_2_1_1421672147968_317">
              <strong data-shrink-original-size="68" style="letter-spacing: 0.0588235294117647em;">Starts with you</strong>
          </p>
          <p>
              <a href="/what-we-do">Learn More</a>
          </p>
      </div>
</div>