{% extends "base.html" %}

{% block metaKeywords %}"computer, setup"{% endblock %}
{% block metaDescription %}"I'm the best site ever!"{% endblock %}
{% block inc_script %}
    <link href="/static/css/default.css" rel="stylesheet" />

    <link href="/static/css/old/test.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
<div class="container-wrapper">
    <div class="article">
        <div class="article-title" id="font-title" > This is a title template</div>
        <p>Bogush Mechanical was founded by John Bogush Sr., the Chief, more than 50 years ago and incorporated in 1976. In the 1980s, the Chief passed the company along to his sons, John Bogush Jr. and James Bogush. Throughout the years, they have followed their father's legacy by helping Bogush Inc. develop into a full-service plumbing, heating and air conditioning company that prides itself on providing excellent services.</p>
        <p>
        We provide plumbing, heating and air conditioning installations, repairs and replacements. As our company has expanded, we have included more services and more locations to better service our customers. We also have in-house training facilities for all of our employees to promote continuous growth in our company as a whole.
        </p>
        <p>
        With our customer service representatives available seven days a week and our factory-trained employees offering immediate services on any sized project, we offer efficient services that will give our customers complete satisfaction.
        </p>
        <p>
        We uphold all state code requirements and federal laws when it comes to our projects. We also provide service agreements, warranties, complete equipment history, manufacturers' recommendations and are an environmentally-conscience company.
        </p>
        <p>
        At Bogush Inc., we pride ourselves on offering the fastest service in the industry, and we stand by this commitment with a promise of safety and accountability to our employees, reliability and quality to our customers.
        </p>
        <p>
        For more information about the services offered by Bogush Inc., contact us today at <a href="tel:1-800-508-8234">1-800-508-8234</a>.
        </p>
        <p>
    </div>
    <div class="sideContent">
        <p>listing</p>
    </div>
</div>
</div>
{% endblock %}