{% extends "base.html" %}

{% block metaKeywords %}"computer, setup"{% endblock %}
{% block metaDescription %}"I'm the best site ever!"{% endblock %}
{% block inc_script %}
    <link href="/static/css/default.css" rel="stylesheet" />

    <link href="/static/css/old/test.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
<div class="article">
    <div class="article-title" id="headline" ><b>A Curved Wall of Glass That Flickers as the Wind Blows</b></div>
    <p>Bogush Mechanical was founded by John Bogush Sr., the Chief, more than 50 years ago and incorporated in 1976.
    In the 1980s, the Chief passed the company along to his sons, John Bogush Jr. and James Bogush.
    Throughout the years,
    they have followed their father's legacy by helping Bogush Inc. develop into a full-service plumbing, heating and
    air conditioning company that prides itself on providing excellent services.</p>
    <div class="img" id="right">
      <!--  <a target="_blank" href="#"> -->
        <img src="http://f.tqn.com/y/pcsupport/1/P/K/e/-/-/overstuffed-file-folder-stanrohrer-e-plus-getty-images.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
        <div class="desc">Add a description of the image here</div>
    </div>
    <p>We provide plumbing, heating and air conditioning installations, repairs and replacements. As our company has expanded,
    we have included more services and more locations to better service our customers. We also have in-house training facilities
    for all of our employees to promote continuous growth in our company as a whole.
    </p>
    <p>
    With our customer service representatives available seven days a week and our factory-
    trained employees offering immediate services on any sized project, we offer efficient services
    that will give our customers complete satisfaction.
    </p>
    <div class="img" id="left">
      <!--  <a target="_blank" href="#"> -->
        <img src="http://f.tqn.com/y/pcsupport/1/P/K/e/-/-/overstuffed-file-folder-stanrohrer-e-plus-getty-images.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
        <div class="desc">Add a description of the image here</div>
    </div>
    <p>
    We uphold all state code requirements and federal laws when it comes to our projects. We also
    provide service agreements, warranties, complete equipment history, manufacturers' recommendations
     and are an environmentally-conscience company.
    </p>
    <p>
    At Bogush Inc., we pride ourselves on offering the fastest service in the industry, and we
    stand by this commitment with a promise of safety and accountability to our employees,
    reliability and quality to our customers.
    </p>
    <p>
    For more information about the services offered by Bogush Inc., contact us today at <a href="tel:1-800-508-8234">1-800-508-8234</a>.
    </p>
    <p>
    At Bogush Inc., we pride ourselves on offering the fastest service in the industry, and we
    stand by this commitment with a promise of safety and accountability to our employees,
    reliability and quality to our customers.
    </p>
</div>
<div class="sideContent">
    <div class="top-border""></div>
        <ul>
            <li class="boxwidget" id="line-item"><a href="#"><h3>Consumers Are in the </h3></a></li>
            <li class="boxwidget" id="line-item"><a href="#"><h3>These Are the Hottest New Open Source Projects Right Now</h3></a></li>
            <li class="boxwidget" id="line-item"><a href="#"><h3>silk-road-heroin-dealer-testifies/</h3></a></li>
        </ul>
    </div>
</div>
{% endblock %}