{% extends "base.html" %}

{% block metaKeywords %}"computer, setup"{% endblock %}
{% block metaDescription %}"I'm the best site ever!"{% endblock %}
{% block inc_script %}
    <link href="/static/css/default.css" rel="stylesheet" />

    <link href="/static/css/old/test.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
<div class="article">
    <div class="article-title" id="headline" ><b>Welcome.</b></div>

    <p><b>UFR is a multi service commercial maintenance enterprise</b> serving small, mid-size and large companies
    throughout Ohio and surrounding states. Property managers appreciate a more professional service-oriented
    approach to building maintenance.  UFR delivers high-quality maintenance services to our customers in
    a wide variety of markets including but not limited to, commercial buildings, restaurants, education,
    retail, government, apartment complexes and public venues.</p>
    <div class="img" id="right">
      <!--  <a target="_blank" href="#"> -->
        <img src="http://f.tqn.com/y/pcsupport/1/P/K/e/-/-/overstuffed-file-folder-stanrohrer-e-plus-getty-images.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
        <div class="desc">Add a description of the image here</div>
    </div>

    <p><b>Real estate property is an important investment.</b> Regular, general and preventative maintenance is
    fundamental to its value over the years. Experience the difference it makes to work with a company
    who treats your properties like their own. Experience the difference it makes when choosing a qualified
    maintenance provider to outsource your maintenance needs.</p>
<!--
    <div class="img" id="left">
        <img src="http://f.tqn.com/y/pcsupport/1/P/K/e/-/-/overstuffed-file-folder-stanrohrer-e-plus-getty-images.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
        <div class="desc">Add a description of the image here</div>
    </div>
-->
    <p><b>UFR is a full service building Maintenance Company</b> with a broad range of multi discipline principle
    contractor services. Our services are performed by industry qualified and licensed professionals with
    more than 40 years of industry expertise. </p>

    <p><b>UFR Is ready to service your 24 hour maintenance needs.</b> Each project requires the exercise of
    gathering bids, vetting qualifications, managing execution and verifying results. UFR takes the hassle
    out of the staffing conundrum and paperwork. Outsourcing your maintenance functions to UFR has been
    proven to reduce cost and improve maintenance performance. Give us a call!</p>
</div>
<div class="sideContent">
    <div class="top-border""></div>
        <ul>
            <li class="boxwidget" id="line-item" ><a href="http://www.reliableplant.com/Read/3740/maintance-outsourcing-model">
                <img class="about-thumbnail" src="/static/img/reliable plant.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
                <h3 style="float: right; width: 100px">Consumers Are in the world!</h3></a>
            </li>
            <li class="boxwidget" id="line-item" ><a href="http://www.reliableplant.com/Read/3740/maintance-outsourcing-model">
                <img class="about-thumbnail" src="http://www.wired.com/wp-content/uploads/2015/02/120316-NEW-IPAD-022edit-200x100.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
                <h3 style="float: right; width: 100px">These Are the Hottest New Open Source Projects Right Now</h3></a>
            </li>
            <li class="boxwidget" id="line-item" ><a href="http://www.reliableplant.com/Read/3740/maintance-outsourcing-model">
                <img class="about-thumbnail" src="http://www.wired.com/wp-content/uploads/2015/01/16-Porsche-356-SC-200x100-e1423256213654.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
                <h3 style="float: right; width: 100px">Silk Road Heroin Dealer Testifies</h3></a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}