<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="keywords" content={% block metaKeywords %}{% endblock %}>
    <meta name="description" content={% block metaDescription %}{% endblock %}>
    <title>{{ title }} - United Facilities</title>
    {% block inc_script %}{#Include <css> and <js> #}{% endblock %}
    <link rel="shortcut icon" href="/static/favicon.ico">

</head>

<body>

<header>
    {% include "/header.html" %} {#includes header template and menu roadmap #}
</header>
<div class="container" id="site_structure">
    {% block main_content %}{% endblock %}
</div>
  <footer>
{% include "footer.html" %}
  </footer>

  <!-- Additional JavaScript libraries and plugins... -->
  {% block js %}{% endblock %}

</body>
</html>
