<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="keywords" content={% block metaKeywords %}{% endblock %}>
    <meta name="description" content={% block metaDescription %}{% endblock %}>
    <title>{{ title }}{% block title %}{% endblock %}</title>
    {% block inc_script %}{#Include <css> and <js> #}{% endblock %}
    <link rel="shortcut icon" href="/static/favicon.ico">

</head>

<body>

  <header>
    {% include "header.html" %} {#includes header template and menu roadmap #}
  </header>

{% block main_content %}{% endblock %}

  <footer>
    {% include "footer.html" %}
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery.js">\x3C/script>')</script>


  <!-- Additional JavaScript libraries and plugins... -->
  {% block js %}{% endblock %}


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>


  <!-- Prompt IE < 8 users to install Chrome Frame.  -->
  <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
