{% extends "base.html" %}

{% block metaKeywords %}"computer, setup"{% endblock %}
{% block metaDescription %}"I'm the best site ever!"{% endblock %}
{% block inc_script %}
    <link href="/static/css/default.css" rel="stylesheet" />

    <link href="/static/css/old/test.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
  <h2>Contact</h2>

  {% for message in form.name.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.subject.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.message.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form action="{{ url_for('contact') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.subject.label }}
    {{ form.subject }}

    {{ form.message.label }}
    {{ form.message }}

    {{ form.submit }}
    <input type=submit value="Post">

  </form>
  <a href="http://code.tutsplus.com/tutorials/intro-to-flask-adding-a-contact-page--net-28982" target="_blank"">Code needed</a>
{% endblock %}