{% extends "base.html" %}

{% block metaKeywords %}"computer, setup"{% endblock %}
{% block metaDescription %}"I'm the best site ever!"{% endblock %}
{% block inc_script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link href="/static/css/default.css" rel="stylesheet" />

    <script src="/static/js/jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="/static/css/jquery.bxslider.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function(){
          $('.bxslider').bxSlider();
            default: 500, 'visible'
            options: integer, 'all', 'visible'
        });
    </script>
{% endblock %}

{% block main_content %}
<!--
Start Slider
Link: https://github.com/stevenwanderski/bxslider-4
-->
<div class ="active-slider">
    <ul class="bxslider">
      <li><img src="/static/img/banner.jpg" /></li>
      <li><img src="/static/img/banner.jpg" /></li>
      <li><img src="/static/img/banner.jpg" /></li>
      <li><img src="/static/img/banner.jpg" /></li>
    </ul>
</div>
<!-- End Slider -->

<a target="_blank" href="http://stackoverflow.com/questions/21004784/using-flask-mail-to-send-email-through-gmail-socket-gaierr">Flask Email Idea</a>

<div class="row-one">
    <div class="column" id="whiteBG">
        <div class="title" id="blue"><h2>Welcome to United Facility Reource LLC.</h2></div>
            <div id="column-content">
                <p>UFR is a single source provider for all commercial facility maintenance needs. Facility management is a
                fundamental and complex part of a business operations. Preservation cleaning and maintaining a safee and functional code complaint
                facility requires planning experienced staffing and money.
                </p><br>
                <p>In the current ever-changing economy business owners and facility managers are aggressively seeking ways to cut cost,
                reduce staff and eliminate paperwork in an attempt to increase their net earnings at the end of the year. Our platform is designed to shrink
                the cost of maintenance repairs and stream line the maintance management process.</p><br>
                <p>We cater to big box retailers, department stores, restaurants, grocery stores, services stations, banking facilities,
                mall retails, home owners, community associations, hospitals, and any typw of business that utilizes a facility to do business. Our goal is to
                help the business owner/operator improve facility management reduce operating cost and save money while providing an uncompromised level of quailty,
                customer service, expertise, and communication.
                </p><br>
            </div>
        </div>
    <div class="column-large" id="grayBG">
        <div id="column-content">
            <h1 style="padding-top: 15px;">Connect with Us</h1>

            <h3>WE ARE HERE TO HELP YOU DRIVE CHANGE ?TOGETHER WE WILL SHAPE THE FUTURE.</h3>
        </div>
        <div id="block"></div>
        <div id="column-content">
            <h3>TEL:</h3>

            <h2>(614) 216-2856</h2>
        </div>
        <div id="block"></div>
        <div id="column-content">
            <h3>EMAIL:</h3>

            <h2><a id="whiteText" href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send
                    Mail</a></h2>
        </div>
    </div>
</div>
<div class="row-two">
    <div class="column-double" id="whiteBG">
        <div class="title" id="grayBG"><h2>Our Expertise</h2></div>
        <div id="column-content">
            <img class="thumbnail" alt="" src="/static/img/business05.jpg">
            <img class="thumbnail" alt="" src="/static/img/business04.jpg">
            <img class="thumbnail" alt="" src="/static/img/business05.jpg">
            <img class="thumbnail" alt="" src="/static/img/business04.jpg">
            <br>
        </div>
    </div>
    <!--
    <div class="column-large" id="whiteBG">
        <div class="title" id="blue"><h2>Our Expertise</h2></div>
        <div id="column-content">
            <span class="alignLeft">
                <ul>
                    <li><h2><a href="#">Strategy Organization</a></h2></li>
                    <li><h2><a href="#">Development</a></h2></li>
                    <li><h2><a href="#">Globalization</a></h2></li>
                    <li><h2><a href="#">Operations</a></h2></li>
                </ul>
            </span>
            <br>
        </div>
    </div>
    -->
</div>
{% endblock %}

{% block js%}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.bxslider').bxSlider({
                auto: true,
                hideControlOnEnd: false,
                pager: false
            });
        });
    </script>
{% endblock%}
