{% extends "base.html" %}

{% block metaKeywords %}"united facility team, partners"{% endblock %}
{% block metaDescription %}"A Team"{% endblock %}
{% block inc_script %}
    <link href="/static/css/default.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
<div id="site_structure">
    <div class="container-wrapper">
        <div style="position: absolute; top: 0px; height: 715px; width: 980px; left: 0px;" class="s6" id="SITE_PAGES"
             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES">
            <div
                style="position: absolute; top: 0px; height: 1168px; width: 980px; left: 0px; visibility: hidden; overflow: hidden; max-height: 0px;"
                class="s7" id="mainPage"
                data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage">
                <div id="mainPagebg" class="s7bg"
                     data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.0"></div>
                <div id="mainPageinlineContent" class="s7inlineContent"
                     data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mainPage.1"></div>
            </div>
            <div
                style="position: absolute; top: 0px; height: 733px; width: 980px; left: 0px; visibility: hidden; overflow: hidden; max-height: 0px;"
                class="s17" id="galleryPage"
                data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$galleryPage">
                <div id="galleryPagebg" class="s17bg"
                     data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$galleryPage.0"></div>
                <div id="galleryPageinlineContent" class="s17inlineContent"
                     data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$galleryPage.1"></div>
            </div>
            <div style="position: absolute; top: 0px; height: 715px; width: 980px; left: 0px;" class="s17" id="c1iwz"
                 data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz">
                <div id="c1iwzbg" class="s17bg"
                     data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.0"></div>
                <div id="c1iwzinlineContent" class="s17inlineContent"
                     data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1">
                    <div style="position: absolute; top: 30px; width: 887px; left: 20px;" class="s18" id="WRchTxt2"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxt2">
                        <div id="WRchTxt2richTextContainer" class="s18_richTextContainer s18richTextContainer"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxt2.0">
                            <p>
                                <span class="font_2">Our Expertise</span></p>
                        </div>
                    </div>
                    <div style="position: absolute; top: 90px; width: 934px; left: 20px;" class="s1" id="WRchTxt3"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxt3">
                        <h6 style="line-height: 1.3em;" class="font_6"><span style="line-height: 1.3em;"><span
                                    class="color_14">I'm a Paragraph. Click here to add your own text and edit me.<br>
It’s easy. Just click “Edit Text” or double click me and you can start<br>
adding your own content and make changes to the font.</span></span></h6>
                    </div>
                    <div style="position: absolute; top: 256px; width: 270px; left: 40px;" class="s1" id="WRchTxt4"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxt4">
                        <p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.</span>
                        </p>

                        <p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">&#8203;</span>
                        </p>

                        <p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">I’m a great place for you to let your users know a little more about you. If you want to delete me just click on me and press delete.</span>
                        </p>
                    </div>
                    <div style="position: absolute; top: 256px; width: 270px; left: 360px;" class="s1" id="WRchTxt6"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxt6">
                        <p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.<br>
&#8203;<br>
I’m a great place for you to let your users know a little more about you. If you want to delete me just click on me and press delete.</span>
                        </p>
                    </div>
                    <div style="position: absolute; top: 256px; width: 270px; left: 680px;" class="s1" id="WRchTxt5"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxt5">
                        <p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.<br>
&#8203;<br>
I’m a great place for you to let your users know a little more about you. If you want to delete me just click on me and press delete.</span>
                        </p>
                    </div>
                    <div style="position: absolute; top: 191px; height: 5px; width: 260px; left: 360px;" class="s19"
                         id="FvGrdLn4"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$FvGrdLn4">
                        <div id="FvGrdLn4line" class="s19line"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$FvGrdLn4.0"></div>
                    </div>
                    <div id="StBttn4" data-align="center" data-margin="0"
                         style="position: absolute; top: 672px; height: 43px; width: 200px; left: 766px;" class="s13"
                         data-state="desktop"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$StBttn4">
                        <a href="http://www.wix.com/demone2/strategic-consulting#!contact/c17jp" target="_self"
                           style="text-align:center;" id="StBttn4link" class="s13link"
                           data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$StBttn4.0">
                            <div id="StBttn4labelwrapper" class="s13labelwrapper"
                                 data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$StBttn4.0.0">
                                <span id="StBttn4label" class="s13label"
                                      data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$StBttn4.0.0.0"
                                      data-skin-margin="0" style="margin-top: 14px;">CONTACT US NOW</span></div>
                        </a></div>
                    <div style="position: absolute; top: 190px; height: 59px; width: 305px; left: 20px;" class="s8"
                         id="Cntnr9"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr9">
                        <div class="s8_fl s8_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr9.0"></div>
                        <div class="s8_fr s8_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr9.1"></div>
                        <div id="Cntnr9bg" class="s8bg"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr9.2"></div>
                        <div id="Cntnr9inlineContent" class="s8inlineContent"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr9.3">
                            <div style="position: absolute; top: 6px; width: 304px; left: 10px;" class="s1"
                                 id="WRchTxtp"
                                 data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr9.3.$WRchTxtp">
                                <h5 class="alignLeft        font_5" style="line-height: 1.2em;"><span
                                        style="line-height: 1.2em;"><span
                                            class="color_11">Strategy &amp; Organization</span></span></h5>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; top: 190px; height: 59px; width: 305px; left: 341px;" class="s11"
                         id="Cntnra"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnra">
                        <div class="s11_fl s11_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnra.0"></div>
                        <div class="s11_fr s11_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnra.1"></div>
                        <div id="Cntnrabg" class="s11bg"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnra.2"></div>
                        <div id="CntnrainlineContent" class="s11inlineContent"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnra.3">
                            <div style="position: absolute; top: 6px; width: 285px; left: 10px;" class="s1"
                                 id="WRchTxtq"
                                 data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnra.3.$WRchTxtq">
                                <h5 class="alignLeft      font_5" style="line-height: 1.2em;"><span
                                        style="line-height: 1.2em;"><span class="color_11">Globalization</span></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; top: 190px; height: 59px; width: 305px; left: 661px;" class="s8"
                         id="Cntnrb"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrb">
                        <div class="s8_fl s8_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrb.0"></div>
                        <div class="s8_fr s8_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrb.1"></div>
                        <div id="Cntnrbbg" class="s8bg"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrb.2"></div>
                        <div id="CntnrbinlineContent" class="s8inlineContent"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrb.3">
                            <div style="position: absolute; top: 6px; width: 280px; left: 10px;" class="s1"
                                 id="WRchTxtr"
                                 data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrb.3.$WRchTxtr">
                                <h5 class="alignLeft      font_5" style="line-height: 1.2em;"><span
                                        style="line-height: 1.2em;"><span
                                            class="color_11">Corporate Finance</span></span></h5>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; top: 491px; width: 270px; left: 680px;" class="s1" id="WRchTxtb"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxtb">
                        <p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.<br>
&#8203;<br>
I’m a great place for you to let your users know a little more about you. If you want to delete me just click on me and press delete.</span>
                        </p>

                        <p class="font_7">&nbsp;</p>
                    </div>
                    <div style="position: absolute; top: 491px; width: 270px; left: 360px;" class="s1" id="WRchTxtc"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxtc">
                        <p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.<br>
&#8203;<br>
I’m a great place for you to let your users know a little more about you. If you want to delete me just click on me and press delete.</span>
                        </p>
                    </div>
                    <div style="position: absolute; top: 491px; width: 270px; left: 40px;" class="s1" id="WRchTxtd"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$WRchTxtd">
                        <p style="line-height: 1.3em;" class="font_8"><span style="line-height: 1.3em;">I'm a Paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.<br>
&#8203;<br>
I’m a great place for you to let your users know a little more about you. If you want to delete me just click on me and press delete.</span>
                        </p>

                        <p class="font_7">&nbsp;</p>
                    </div>
                    <div style="position: absolute; top: 418px; height: 59px; width: 305px; left: 20px;" class="s11"
                         id="Cntnr8"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr8">
                        <div class="s11_fl s11_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr8.0"></div>
                        <div class="s11_fr s11_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr8.1"></div>
                        <div id="Cntnr8bg" class="s11bg"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr8.2"></div>
                        <div id="Cntnr8inlineContent" class="s11inlineContent"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr8.3">
                            <div style="position: absolute; top: 6px; width: 280px; left: 10px;" class="s1"
                                 id="WRchTxto"
                                 data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnr8.3.$WRchTxto">
                                <h5 class="alignLeft    font_5" style="line-height: 1.2em;"><span
                                        style="line-height: 1.2em;"><span class="color_11">IT Management</span></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; top: 418px; height: 59px; width: 305px; left: 341px;" class="s8"
                         id="Cntnrc"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrc">
                        <div class="s8_fl s8_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrc.0"></div>
                        <div class="s8_fr s8_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrc.1"></div>
                        <div id="Cntnrcbg" class="s8bg"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrc.2"></div>
                        <div id="CntnrcinlineContent" class="s8inlineContent"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrc.3">
                            <div style="position: absolute; top: 6px; width: 285px; left: 10px;" class="s1"
                                 id="WRchTxts"
                                 data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrc.3.$WRchTxts">
                                <h5 class="alignLeft   font_5" style="line-height: 1.2em;"><span
                                        style="line-height: 1.2em;"><span class="color_11">Sustainability</span></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute; top: 418px; height: 59px; width: 305px; left: 661px;" class="s11"
                         id="Cntnrd"
                         data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrd">
                        <div class="s11_fl s11_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrd.0"></div>
                        <div class="s11_fr s11_ribbon"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrd.1"></div>
                        <div id="Cntnrdbg" class="s11bg"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrd.2"></div>
                        <div id="CntnrdinlineContent" class="s11inlineContent"
                             data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrd.3">
                            <div style="position: absolute; top: 6px; width: 305px; left: 10px;" class="s1"
                                 id="WRchTxtt"
                                 data-reactid=".0.$SITE_ROOT.$SITE_STRUCTURE.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1iwz.1.$Cntnrd.3.$WRchTxtt">
                                <h5 class="alignLeft   font_5" style="line-height: 1.2em;"><span
                                        style="line-height: 1.2em;"><span class="color_11">Corporate Development</span></span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}