{% extends "base.html" %}

{% block metaKeywords %}"computer, setup"{% endblock %}
{% block metaDescription %}"I'm the best site ever!"{% endblock %}
{% block inc_script %}
    <link href="/static/css/default.css" rel="stylesheet" />

    <link href="/static/css/old/test.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
<div class="sidecontent">
    <img style="height: 350px; width: 300px" alt="" src="/static/img/about/hand-shake.jpeg">
</div>

<div class="article-what">
    <div class="article-title" id="headline" ><b>What We Do.</b></div>

    <p><b>UFR is a multi service commercial maintenance enterprise serving</b> small, mid-size and large companies
        throughout Ohio and surrounding states. UFR delivers high-quality services to our customers in wide
        variety of markets including by not limited to, commercial buildings, restaurants, education, retail,
        government, apartment complexes and public venues.</p>

    <p><b>Real estate property is an important investment.</b> Regular, reactive, general, preventative, and
        predictive maintenance is fundamental to its value over the years. UFR will dedicate a personal project
        coordinator to each of our clients. Our project coordinators educated and consistently trained on the
        standards of project management procedures and local code requirements. Experience the difference it
        makes when choosing a qualified maintenance provider to outsource your maintenance needs.</p>
<!--
    <div class="img" id="left">
        <img src="http://f.tqn.com/y/pcsupport/1/P/K/e/-/-/overstuffed-file-folder-stanrohrer-e-plus-getty-images.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
        <div class="desc">Add a description of the image here</div>
    </div>
-->
    <p><b>UFR services a broad range of maintenance issues.</b> One call does it all. No problem is too big or too
        small. We provide custom-tailored service to each client. Our services are performed by industry
        qualified and licensed professionals with more than 40 years of industry expertise. UFR utilizes the
        capability of operating leverage to yield the highest level of return for your investment.</p>

    <p><b>UFR is ready to service you 24 hours maintenance needs.</b> Each project requires the exercise of
        gathering bids, betting qualifications, managing execution and verifying results. UFR takes the hassle out
        of the staffing conundrum and paperwork. Outsourcing your maintenance functions to UFR has been
        proven to reduce cost and improve maintenance performance.</p>
</div>
<div class="row-two">
    <div class="column-double" id="whiteBG" style="padding-top: 25px;">
        <div class="title" id="grayBG"><h2>Our Customers</h2></div>
        <div id="column-content">
            <img class="thumbnail" id="left-image" alt="" src="/static/img/about/hospital.jpg">
            <img class="thumbnail" id="center-image" alt="" src="/static/img/about/kitchen-view.jpg">
            <img class="thumbnail" id="center-image" alt="" src="/static/img/about/side-building.jpg">
            <img class="thumbnail" id="center-image" alt="" src="/static/img/about/star-bucks.jpg">
            <br>
        </div>
    </div>
</div>
{% endblock %}