{% extends "base.html" %}

{% block metaKeywords %}"united facility team, partners"{% endblock %}
{% block metaDescription %}"A Team"{% endblock %}
{% block inc_script %}
    <link href="/static/css/default.css" rel="stylesheet" />
{% endblock %}

{% block main_content %}
<div class="article-who">
    <div class="article-title" id="headline" ><b>What We Do.</b></div>
    <div class="img" id="left">
        <img src="/static/img/gears.jpg" alt="Klematis" align="left" hspace="10" vspace="5"/>
        <div class="desc">Add a description of the image here</div>
    </div>
    <p><b>United Facility Resource LLC.</b> was developed by Omar Hinton in 2000 as a commercial
    cleaning service and a mid-sized construction company. UFR is now a full service facility
    maintenance operation servicing central Ohio, surrounding areas and businesses throughout the U.S.  As a
    result of our dedication, hard work, and our commitment to excellence, UFR is primed to
    become one of central Ohio’s most respected maintenance service providers.</p>

    <p><b>Our approach consists of a lean construction process</b> with the alignment and holistic pursuit of
    concurrent and continuous improvements. What does that all mean? It means when working with our
    company we dedicate ourselves to finding you the most economic solutions coupled with the industries
    most talented and knowledgeable service technicians.</p>

    <p><b>Our project coordinators have over 30 years of industry experience.</b> They are continually trained on
    the important responsibility of planning, execution and the ability to adapt ensuring that the key issues
    of cost, time, quality and above all, client satisfaction is realized.</p>

    <p><b>UFR is the future of maintenance outsourcing.</b> We don’t strive to be the largest most well know service
    provider on the planet. We focus on quality and customer satisfaction. Your return business is what
    keeps us successful. So we say thanks to all of our clients who enjoy our continued success with us and
    welcome your establishment to be a part of our team.</p>
</div>
{% endblock %}